<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Không tìm thấy trang</title>

    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/Assets/Customer/img/apple-touch-icon.png">

    <!-- Favicon -->
    <link rel="icon" href="~/Assets/Customer/img/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="~/Assets/Customer/img/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="~/Assets/Customer/css/bootstrap.min.css">

    <!-- Main.css -->
    <link rel="stylesheet" href="~/Assets/Customer/css/meanmenu.css">

    <!-- Tabler Icon CSS -->
    <link rel="stylesheet" href="assets/plugins/tabler-icons/tabler-icons.css">

    <!-- Fontawesome Icon CSS -->
    <link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

    <!-- Owlcarousel CSS -->
    <link rel="stylesheet" href="assets/plugins/owlcarousel/owl.carousel.min.css">

    <!-- Rangeslider CSS -->
    <link rel="stylesheet" href="assets/plugins/ion-rangeslider/css/ion.rangeSlider.css">
    <link rel="stylesheet" href="assets/plugins/ion-rangeslider/css/ion.rangeSlider.min.css">

    <!-- Iconsax CSS -->
    <link rel="stylesheet" href="~/Assets/Customer/css/iconsax.css">

    <!-- Datepicker CSS -->
    <link rel="stylesheet" href="~/Assets/Customer/css/bootstrap-datetimepicker.min.css">

    <!-- Style CSS -->
    <link rel="stylesheet" href="~/Assets/Customer/css/style.css">

</head>

<body class="bg-primary-transparent">
    <div class="d-flex align-items-center justify-content-center vh-100 overflow-auto flex-wrap">
        <!-- Page Wrapper -->
        <div class="content">
            <div class="container">
                <div class="error-main-logo text-center">
                    <img src="~/Assets/Customer/img/logo-dark.svg" alt="Img">
                </div>
                <div class="error-img text-center">
                    <img src="~/Assets/Customer/img/error-400.svg" alt="Img">
                </div>
                <div class="maintenance-update">
                    <div class="text-center mb-3">
                        <h5 class="mb-1">Không Tìm Thấy Trang</h5>
                        <p class="text-gray-6">Trang không tồn tại, vui lòng liên hệ dev để biết thêm chi tiết</p>

                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <a href="/Customer/Home/Index" class="btn btn-primary d-flex align-items-center justify-content-center">
                        <i class="isax isax-arrow-left-2 me-2"></i>Quay Lại</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Wrapper -->

    </div>

    <!-- Jquery JS -->
    <script src="~/Assets/Customer/js/jquery-3.7.1.min.js" type="32c7a88f3cf6dbd44d13e5e0-text/javascript"></script>

    <!-- Bootstrap JS -->
    <script src="~/Assets/Customer/js/bootstrap.bundle.min.js" type="32c7a88f3cf6dbd44d13e5e0-text/javascript"></script>

    <!-- Wow JS -->
    <script src="~/Assets/Customer/js/wow.min.js" type="32c7a88f3cf6dbd44d13e5e0-text/javascript"></script>

    <!-- MeanMenu Js -->
    <script src="~/Assets/Customer/js/jquery.meanmenu.min.js" type="32c7a88f3cf6dbd44d13e5e0-text/javascript"></script>

    <!-- Owlcarousel Js -->
    <script src="assets/plugins/owlcarousel/owl.carousel.min.js" type="32c7a88f3cf6dbd44d13e5e0-text/javascript"></script>

    <!-- Sticky Sidebar JS -->
    <script src="assets/plugins/theia-sticky-sidebar/ResizeSensor.js" type="32c7a88f3cf6dbd44d13e5e0-text/javascript"></script>
    <script src="assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js" type="32c7a88f3cf6dbd44d13e5e0-text/javascript"></script>

    <!-- Rangeslider JS -->
    <script src="assets/plugins/ion-rangeslider/js/ion.rangeSlider.js" type="32c7a88f3cf6dbd44d13e5e0-text/javascript"></script>
    <script src="assets/plugins/ion-rangeslider/js/custom-rangeslider.js" type="32c7a88f3cf6dbd44d13e5e0-text/javascript"></script>
    <script src="assets/plugins/ion-rangeslider/js/ion.rangeSlider.min.js" type="32c7a88f3cf6dbd44d13e5e0-text/javascript"></script>

    <!-- Datepicker Core JS -->
    <script src="assets/plugins/moment/moment.js" type="32c7a88f3cf6dbd44d13e5e0-text/javascript"></script>
    <script src="~/Assets/Customer/js/bootstrap-datetimepicker.min.js" type="32c7a88f3cf6dbd44d13e5e0-text/javascript"></script>

    <!-- cursor JS -->
    <script src="~/Assets/Customer/js/cursor.js" type="32c7a88f3cf6dbd44d13e5e0-text/javascript"></script>

    <!-- Script JS -->
    <script src="~/Assets/Customer/js/script.js" type="32c7a88f3cf6dbd44d13e5e0-text/javascript"></script>

    <script src="../cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="32c7a88f3cf6dbd44d13e5e0-|49" defer=""></script>
</body>

</html>